body{

    padding: 0px;
    margin: 0px;
}
#header
{
    height: 20%;
}

#contactTable
{

    background-color: #58ADFE;
    font-size: 32px;
    font-weight: bold;
}
.sizeTextbox
{
    height: 30px;
    width: 350px;
}
#footer
{
    height: 20%;
}
#alignUl
{
    margin: auto;
    width: 60%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7C621;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #ffffff;
}
.center
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}
#divHeader
{
    background-color: #E6323B;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #000000;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

nav
{

    background-color: #F7C621;
}
#redColorContactTable
{
    background-color: #9E100F;
}
#blueColorContactTable
{
    background-color: #58ADFE;
}

#footerPic
{
    height: 200px;
    width: 100%;
}
#alignPage
{
    margin-top: 5%;
    margin-bottom: 10%;
}