body{

    padding: 0px;
    margin: 0px;
}
#header
{
    height: 20%;
}

/* IMAGE CENTER */
#imageBanner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#contactTable
{

    background-color: #58ADFE;
    font-size: 20px;
    font-weight: bold;
}
.sizeTextbox
{
    height: 30px;
    width: 350px;
}

#footer
{
    height: 20%;
    margin-top: 5%;
}

#bannerDiv{
    margin-top: 50px;
    height: 150px;
    width: 70%;
    background-color: lightpink;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.bannerTxt{
    margin-left: 5%;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.bannerTxt2{
    margin-left: 5%;
    margin-top: -3%;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bannerP{
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}


#copyrightF{
    text-align: center;
    width: 100%;
    background-color: grey;
    margin: 0px;
    padding: 0px;
}

#alignUl
{
    margin: auto;
    width: 60%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7C621;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #ffffff;
}
.center
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}
#divHeader
{
    background-color: #E6323B;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #000000;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

nav
{

    background-color: #F7C621;
}
#redColorContactTable
{
    background-color: #9E100F;
}
#blueColorContactTable
{
    background-color: #58ADFE;
}

#footerPic
{
    height: 180px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#alignPage
{
    margin-top: 5%;
    margin-bottom: 10%;
}



#nieuwsVlakte{
    height: 300px;
    width: 100%;
    background-color: #5F4F4F;
    margin-top: .5%;
}

#fotoNieuws{
    margin-left: 5%;
    height: 200px;
    width: 25%;
    background-color: white;
}

/* CAROUSEL */

* {
  box-sizing: border-box;

}


.slides {
  display: flex;
  background: #eee;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-top: 2%;


  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}


